body {
  background-color: #340554;
  color: $white-color;
  height: 100vh;
}
.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .heading {
    position: relative;
    &-primary {
      background-image: linear-gradient(
      to right,
      #222,
      $success-color,
      $info-color,
      rgb(244, 0, 77),
      $danger-color,
      rgba(90, 1, 218, 0.99)
      );
      -webkit-background-clip: text;
      color: transparent;
      font-size: 10.1rem;
      z-index: 11;
      span {
        opacity: .66;
        z-index: -221;
        background-image: inherit;
        color: inherit;
        -webkit-background-clip: text;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 61.4rem;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%, -51.36%);
        text-shadow: 0 0 2rem rgba(#000, .9);
        animation-name: G;
        animation-duration: 4.9s;
        animation-iteration-count: infinite;
      }
    }
    &-secondary {
      text-align: center;
      color: rgba(#fff, 0);
      animation-name: open-console;
      animation-duration: 4.9s;
      animation-iteration-count: infinite;
    }
  }
}
